[Unit]
Description=Blyss GPU VFIO PCI passthrough

[Service]
ExecStart=/home/blyss/hopper-enclave/nvtrust/blyss-gpu-vfio-pci-passthrough.sh

[Install]
WantedBy=multi-user.target
